 .container {
    display: flex;
    height: 100vh;
  }
  
.left-side {
    flex-basis: 33.33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    height: 100%; 
    padding-left: 30px;
    padding-right:30px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
  }

p {font-family:"Times New Roman", Times, serif;}
  
.right-side {
    flex-basis: 66.67%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
.text {
    text-align: center;
  }


  .lr-icons {
    margin-top: 40px;
    text-align: center;
  }

  .lr-icons img {
    justify-content: center;
    width: 50px;
    height: 50px;
    transition: all 0.3s ease;
  }

  .lr-icons img:hover {
    cursor: pointer;
    width: 60px;
    height: 60px;
  }